@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Berkshire+Swash&family=Bungee+Spice&family=ZCOOL+KuaiLe&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@property --rise-x {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

@property --rise-y {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 200%;
}

@theme {
  --font-heading: "ZCOOL KuaiLe", sans-serif;
  --font-bungee-spice: "Bungee Spice", sans-serif;
  --font-berkshire-swash: "Berkshire Swash", serif;
  --font-aladin: "Aladin", system-ui;

  --animate-spin-slow: spin 2s linear infinite;

  --animate-wiggle: wiggle 200ms linear;
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-5deg);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  --animate-sunrise: rise-x 60s linear forwards infinite,
  rise-y 30s cubic-bezier(0, .5, .5, 1) forwards infinite alternate;
  @keyframes rise-x {
    0% {
      --rise-x: 0%;
    }
    50% {
      --rise-x: 50%;
    }
    100% {
      --rise-x: 100%;
    }
  }
  @keyframes rise-y {
    0% {
      --rise-y: 200%;
    }
    100% {
      --rise-y: 100%;
    }
  }
}

@utility clipboard-item-active {
  @apply bg-[rgba(0,0,0,0.02)] text-sky-800 dark:text-amber-500 shadow-md backdrop-blur-lg;
}

@utility icon-thin {
  font-variation-settings: 'wght' 100,
  'GRAD' -25,
  'opsz' 24;
}
