name: Lint and build app

on:
  pull_request:
    branches: ['main']
    paths: [ '.github/workflows/lint-and-build-app.yml', 'app/**' ]

jobs:
  lint:
    name: Lint app
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: app/package-lock.json

      - name: Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

  build:
    name: Build app
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: app/package-lock.json

      - name: Dependencies
        run: npm ci

      - name: Build
        run: npm run build
